@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #9ca3af;
  text-decoration: inherit;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
	text-transform: uppercase;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
