@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: #9ca3af;
  text-decoration: inherit;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
	text-transform: uppercase;
}
