
{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}bddw_tearsheets{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="lance knickerbocker">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}"
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- Bootstrap JS -->
      <script defer src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://unpkg.com/htmx.org@1.7.0"></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body style="text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif; letter-spacing: 0.05em; font-size: 12px; color: #8B8A86">
    <div class="container">
        <div style="font-weight: lighter; font-size: 11px; width: 816px;">

            <div style="height: 100px;"></div>
            <ul style="list-style-type:none;">
                {% for category,series_item_dict in price_list_records  %}
                <li><a href="#{{category| cut:" "}}">{{category}}</a></li>
                {% endfor %}
            </ul>

            {% for category,series_item_dict in price_list_records   %}
            <div style="width: 1000px">
                <div class='pt-3' id="{{category| cut:" "}}">
                    <div class="mt-3" style="background-color: white;">
                            {% for series_item_key,lists in series_item_dict.items  %}
                            {% if forloop.first %}
                            <div class="text-center">
                                <h1 style="font-size: 50px;">{{category}}</h1>
                            </div>
                            {% endif %}
                            <table class="table">
                            <thead>
                                <th style="width:20%;"></th>
                                {% comment %} <th style="width:60%;" class="text-end">{{lists.0.0.rule_type}} {{lists.1.0.rule_type}}</th> {% endcomment %}
                                <th style="width:5%;" class="text-end"></th>
                                <th style="width:25%;" class="text-end"></th>
                                <th style="width:5%;" class="text-end">list</th>
                                <th style="width:5%;" class="text-end">net</th>
                            </thead>
                            {% for price_record in lists.0  %}
                                {% if forloop.first %}
                                <tr>
                                    <td>{{series_item_key}}</td>
                                    <td class="text-end">{{price_record.rule_type}}</td>
                                    <td style="font-size: 10px" class="text-end">{{price_record.rule_display_1}} {% if price_record.rule_display_2 == None %}{% else %}{{price_record.rule_display_2}}{% endif %}</td>
                                    <td class="text-end">${{price_record.list_price}}</td>
                                    <td class="text-end">${{price_record.net_price}}</td>
                                </tr>
                                {% else %}
                            <tr>
                                <td></td>
                                <td class="text-end">{{price_record.rule_type}}</td>
                                <td style="font-size: 10px" class="text-end">{{price_record.rule_display_1}} {% if price_record.rule_display_2 == None %}{% else %}{{price_record.rule_display_2}}{% endif %}</td>
                                <td class="text-end">${{price_record.list_price}}</td>
                                <td class="text-end">${{price_record.net_price}}</td>
                            </tr>


                                {% endif %}

                            {% endfor %}


                            {% for price_record in lists.1  %}
                            {% if forloop.first %}
                            <tr>
                                <td>{{series_item_key}}</td>
                                <td style="font-size: 10px" class="text-end">{{price_record.return_rule_display_1}} {% if price_record.rule_display_2 == None %}{% else %}{{price_record.rule_display_2}}{% endif %}</td>
                                <td class="text-end">${{price_record.list_price}}</td>
                                <td class="text-end">${{price_record.net_price}}</td>
                            </tr>
                            {% else %}
                        <tr>
                            <td></td>
                            <td style="font-size: 10px" class="text-end">{{price_record.return_rule_display_1}} {% if price_record.rule_display_2 == None %}{% else %}{{price_record.rule_display_2}}{% endif %}</td>
                            <td class="text-end">${{price_record.list_price}}</td>
                            <td class="text-end">${{price_record.net_price}}</td>
                        </tr>


                            {% endif %}

                        {% endfor %}


                        </table>
                        {% endfor %}
                    </div>


                </div>
            </div>
        {% endfor %}
        </div>
    </body>
</html>
