{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row">
    <div class="col">
        <h3 class="pt-5">RE: CSV</h3>
    </div>
</div>

        <div class='pt-5'></div>

<div class="row">
    <div class="col">
        <h4>Price Records</h4>
        <p>Upload price records here.</p>
        <p><a href="{% url 'csv_imports:normal_template' %}">DOWNLOAD TEMPLATE</a>
        <p><a href="{% url 'csv_imports:export_price_records' %}">EXPORT PRICE RECORDS (SNAPSHOT -- DO NOT TRY TO REUPLOAD)</a>

        <form action="{% url 'csv_imports:upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file1" name="file">
            <small>Only accepts CSV files</small>
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<div style="height: 40px;"></div>

<div class="row">
    <div class="col">
        <h4>Export Pricelist Records</h4>
        <p>**IN DEV MAY NOT BE ACCURATE**</p>
        <p><a href="{% url 'csv_imports:normal_template' %}"></a>
        <p><a href="{% url 'csv_imports:export_price_records' %}">EXPORT PRICELIST RECORDS (SNAPSHOT -- DO NOT TRY TO REUPLOAD)</a>
    </div>
</div>

<div style="height: 40px;"></div>


<div class="row">
    <div class="col">
        <h4>Formula Records</h4>
        <p>These are the records that "fill in" the price formulas. Leave ID column blank
            to create new records. Delete details TBD.
        </p>
        <p><a href="{% url 'csv_imports:form_template' %}">DOWNLOAD TEMPLATE</a>
        <p><a href="{% url 'csv_imports:export_formula' %}">EXPORT ALL RECORDS</a>
        <form action="{% url 'csv_imports:upload_formula' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file1" name="file">
            <small>Only accepts CSV files</small>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="col">
    </div>
</div>

<div style="height: 40px;"></div>

<div class="row">
    <div class="col">
        <h4>Sorting Rules</h4>
        <p>Define Ordering for Category Series Item objects w/ one simple csv upload.</p>
        <p><a href="{% url 'csv_imports:sorting_upload' %}">DOWNLOAD TEMPLATE</a>
        <p><a href="{% url 'csv_imports:sorting_export' %}">EXPORT ALL RECORDS</a>

        <form action="{% url 'csv_imports:sorting_upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file1" name="file">
            <small>Only accepts CSV files</small>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="col">
    </div>
</div>

<div class='pt-5'></div>
{% if report %}
<p>details<p>
    {% for item in report  %}
        <p>{{item}}</p>
    {% endfor %}
    {% endif %}
{% endblock content %}
