{% load static %}
<div id="detail-{{detail.pk}}" style="padding-bottom: -20px;" class="row">
    <div class="col-2">
        {{detail.name}}
    </div>

    <div class="col-9">
        {{detail.details}}
    </div>
    <div class="text-end col-1">
        <img
        hx-get='{% url 'formula_tearsheets:change_detail' detail.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#detail-{{detail.pk}}"
        height="10px" src="{% static 'images/edit.svg' %}">
    </div>
</div>
