<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TEARSHEET DETAIL</title>
  </head>
  <body>
    <div id="root"></div>
    {{context|json_script:"context"}}
	{% csrf_token %}
	<script>
	 const read_context = JSON.parse(JSON.parse(document.getElementById('context').textContent));
	 const CONTEXT = {
		 'csrf_token': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
		 'auth_token': read_context.auth_token,
		 'tearsheet' : read_context.tearsheet,
		 'tearsheets_list': '{% url 'tearsheets:list' %}',
		 'edit_tearsheet' : '{% url 'react_views:r_tear_sheets:edit-tearsheet' id %}',
		 'print' : '{% url 'react_views:r_tear_sheets:print' id %}',
		 'print_list' : '{% url 'react_views:r_tear_sheets:print-list' id %}',
		 'detail_view_for_print' : '{% url 'react_views:r_tear_sheets:detail-view-for-print' id %}',
		 'print_all' : '{% url 'react_views:r_tear_sheets:print_all' %}',
		};
	</script>

	<script type="module" src="/src/main.jsx"></script>
  </body>
</html>
