{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}bddw sales tools{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Behold My Awesome Project!">
    <meta name="author" content="lance">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- Bootstrap JS -->
      <script defer src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://unpkg.com/htmx.org@1.7.0"></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  style="text-transform: uppercase; font-family: 'Source Sans Pro', sans-serif; letter-spacing: 0.18em; font-size: 12px; color: #8B8A86">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">BDDW SALES TOOLS</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <div class="bg-light dropdown pt-.5">
              <a style="font-size: 16px; border: 0px; color: grey; margin: 1.5px" class=" btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">TEARSHEETS</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                 <li><a id="log-in-link" class="nav-link" href="{% url 'tearsheets:list' %}">{% translate "TEARSHEETS" %}</a></li>
                 <li><a id="log-in-link" class="nav-link" href="{% url 'formula_tearsheets:list' %}">{% translate "FORMULA TEARSHEETS" %}</a></li>
                 <li><a id="log-in-link" class="nav-link" href="{% url 'csv_imports:upload' %}">{% translate "CSV IMPORT" %}</a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="bg-light dropdown pt-.5">
              <a style="font-size: 16px; border: 0px; color: grey; margin: 1.5px" class=" btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">PRICELISTS</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                 <li><a id="log-in-link" class="nav-link" href="">COMING</a></li>
                 <li><a id="log-in-link" class="nav-link" href="">~SOON~</a></li>
                 <li><a id="log-in-link" class="nav-link" href="">!!!!!!</a></li>
             </ul>
            </div>
          </li>
          <li class="nav-item">
            <a style="font-size: 16px;" id="log-in-link" class="nav-link" href="{% url 'admin:index' %}">{% translate "ADMIN" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a style="font-size: 16px;" id="log-in-link" class="nav-link" href="{% url 'account_logout' %}">{% translate "LOGOUT" %}</a>
          </li>
          {% else %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a style="font-size: 16px;" id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "LOGIN" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })    </script>
    {% endblock inline_javascript %}

    <div class="footer" style="height: 100px;">
    </div>

  </body>
</html>
