{% load static %}
<div id="footer-detail-{{footer_detail.pk}}" style="padding-bottom: -20px;" class="row">
    <div class="col-2">
        {{ footer_detail.name}}
    </div>

    <div class="col-9">
        {{footer_detail.details}}
    </div>
    <div class="text-end col-1">
        <img
        hx-get='{% url 'tearsheets:change_footer_detail' footer_detail.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#footer-detail-{{footer_detail.pk}}"
        height="10px" src="{% static 'images/edit.svg' %}">
    </div>
</div>
