{% load static %}
<form id="title-{{tearsheet.pk}}">
    <input
    style="font-size: calc(1.0rem + .6vw);"
    name="title" value='{{tearsheet.title}}'>

    <a><img
    style="margin-left:20px; margin-bottom:10px;"
    height="20px"
    src='{% static 'images/okay.svg' %}'
    hx-trigger="click"
    hx-target="#title-{{tearsheet.pk}}"
    hx-swap="outerHTML"
    hx-post="{% url 'formula_tearsheets:change_title' tearsheet.pk %}"
    /><a>

    <a href="">
        <img
        hx-trigger="click"
        hx-target="#title-{{tearsheet.pk}}"
        hx-swap="outerHTML"
        hx-put="{% url 'formula_tearsheets:change_title' tearsheet.pk %}"
        style="margin-left:20px; margin-bottom:10px;"
        height="20px"
        src='{% static 'images/cancel.svg' %}'/>
    </a>
</form>
