{% load static %}
<div id="price-record-{{price_record.pk}}" class="row">
    <div class="col-2 text-start">
        {{price_record.rule_type}}
    </div>

    <div class="col-7">
        {{price_record.rule_display_1}}
        {{price_record.rule_display_2}}
    </div>
    <div class="col-1">
        ${{price_record.list_price}}
    </div>
    <div class="col-1">
        ${{price_record.net_price}}
    </div>
    <div class="col-1">
        <img
        hx-get='{% url 'formula_tearsheets:change_price_record' price_record.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#price-record-{{price_record.pk}}"
        height="10px" src="{% static 'images/edit.svg' %}">
    </div>
</div>
