{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="font-size: 8px; width: 816px;">


    <div style="margin-left:75px; margin-right:75px;">

        <!-- HEADER -->
        <div class="pt-5">
            <div class="row">
                <div class="col-8">
                    <h3 style="line-height: 100%;">{{tearsheet}}</h3>
                </div>
                <div class="col-4 text-end">
                    <a style="text-decoration: none;" href="{% url 'formula_tearsheets:print' tearsheet.pk %}">
                        <img height="20px" src="{% static 'images/pdf.png' %}">
                    </a>
                    <a style="text-decoration: none;"  href="{% url 'formula_tearsheets:edit' tearsheet.pk %}">
                        <img height="20px" src="{% static 'images/edit.svg' %}">
                    </a>
                </div>
            </div>
        </div>
        <div>
            <img class="img-fluid" src="{{tearsheet.image.url}}">
        </div>
        <!--- HEADER -->

        <!-- CAPTIONS -->
        {% if captions %}
        <div class="pt-3">
            {% for caption in captions  %}
            <div class="row">
                <div class="col-2">
                    {{caption.caption_title}}
                </div>
                <div class="col-10">
                    {{caption.caption}}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- CAPTIONS -->

        <!-- DETAILS -->
        {% if details %}
        <div class="pt-3">
            {% for detail_dictionary in details  %}
            {% for name,detail in detail_dictionary.items  %}
            <div style="padding-bottom: -20px;" class="row">
                <div class="col-2">
                    {{name}}
                </div>
                {% for item in detail %}
                {% if forloop.first %}
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% else %}
            <div style="padding-bottom: -20px;" class="row">
                <div class="col-2">
                   {% comment %} SKIP {% endcomment %}
                </div>
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- DETAILS -->

        <!--RULES -->
        <div class="row pt-2 pb-1">
            <div class="col-2 text-end">
            </div>
            <div class="col-7">
            </div>
            <div class="col-1">
                LIST
            </div>
            <div class="col-2">
                NET
            </div>
        </div>

        {% for dictionary in price_records  %}
        {% for group,rules in dictionary.items %}
        <div class="row">
            <div class="col-2 text-start">
                {{group}}
            </div>
                {% for item in rules %}
                {% if forloop.first %}
            <div class="col-7">
                {{item.rule_display_1}}
                {{item.rule_display_2}}
            </div>
            <div class="col-1">
                ${{item.list_price}}
            </div>
            <div class="col-2">
                ${{item.net_price}}
            </div>
        </div>
            {% else %}

        <div class="row">
            <div class="col-2 text-end">
                {% comment %} SKIP {% endcomment %}
            </div>
            <div class="col-7">
                {{item.rule_display_1}}
                {{item.rule_display_2}}
            </div>
            <div class="col-1">
                ${{item.list_price}}
            </div>
            <div class="col-2">
                ${{item.net_price}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
        <!--RULES -->


        <!-- FOOTER DETAILS -->
        {% if footer_details %}
        <div class="pt-4">
            {% regroup footer_details by name as footer_detail_list %}
            {% for footer_detail in footer_detail_list  %}
            <div style="padding-bottom: -20px;" class="row">
                <div class="col-2">
                    {{footer_detail.grouper}}
                </div>
                {% for item in footer_detail.list %}
                {% if forloop.first %}
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% else %}
            <div style="padding-bottom: -20px;" class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- FOOTER DETAILS -->

        <!-- ADDRESS FOOTER-->
        <div class='text-center'>
            <p class="pt-5 pb-5">B D D W • 5 CROSBY STREET NEW YORK NY 10013 • T 212 625 1230 • INFO@BDDW.COM • WWW.BDDW.COM</p>
        </div>

    </div>

{% endblock content %}
