{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="font-size: 9px; width: 816px;">


    <div style="margin-left:75px; margin-right:75px;">

        <!-- HEADER -->
        <div class="pt-5">
            <div class"col">
                <a href="{% url 'formula_tearsheets:list' %}"><< list view</a>
            </div>
            <div class="pt-3 row">
                <div class="col-4">
                    <h3 style="line-height: 100%;">{{tearsheet}}</h3>
                </div>
                <div class="col-8 text-end">
                    <a style="" href="{% url 'formula_tearsheets:print' tearsheet.pk %}" target="_blank">
                        view pdf
                    </a>
                    -
                    <a style="" href="{% url 'formula_tearsheets:print' tearsheet.pk %}?justDownload=True">
                        download pdf
                    </a>
                    -
                    <a style="" href="{% url 'formula_tearsheets:print-list' tearsheet.pk %}" target="_blank">
                        view list pdf
                    </a>
                    -
                    <a style="" href="{% url 'formula_tearsheets:print-list' tearsheet.pk %}?justDownload=True">
                        download list pdf
                    </a>
                    -
                    <a style=""  href="{% url 'formula_tearsheets:edit' tearsheet.pk %}">
                        edit
                    </a>
                </div>            </div>
        </div>
        <div>
            <img class="img-fluid" src="{{tearsheet.image.url}}">
        </div>
        <!--- HEADER -->

        <!-- CAPTIONS -->
        {% if captions %}
        <div class="pt-2">
            {% for caption in captions  %}
            <div style="padding-top: 3px;" class="row">
                <div class="col-2">
                    {{caption.caption_title}}
                </div>
                <div class="col-10">
                    {{caption.caption}}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- CAPTIONS -->

        <!-- DETAILS -->
        {% if details %}
        <div class="pt-2">
            {% for detail_dictionary in details  %}
            {% for name,detail in detail_dictionary.items  %}
            <div style="padding-top: 3px; padding-bottom: -20px;" class="row">
                <div class="col-2">
                    {{name}}
                </div>
                {% for item in detail %}
                {% if forloop.first %}
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% else %}
            <div style="padding-bottom: -20px;" class=" row">
                <div class="col-2">
                   {% comment %} SKIP {% endcomment %}
                </div>
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- DETAILS -->

        {% comment %} RULES TEMPLATES

        TEMPLATE A:
        TEMPLATE B:
        TEMPLATE C:

        {% endcomment %}

        {% if tearsheet.template == 'A' %}

        <!--TEMPLATE A RULES -->
        <div class="row pt-2 pb-1">
            {% comment %} <div class="col-2 text-end">
            </div> {% endcomment %}
            <div class="col-8">
            </div>
            <div class="col-2 text-end">
                LIST
            </div>
            <div class="col-2 text-end">
                NET
            </div>
        </div>

        {% for dictionary in price_records  %}
        {% for group,rules in dictionary.items %}
        <div style="" class="pt-2 row">
            <div class="col-1 text-start">
                {{group}}
            </div>
            <div class="col-1">
            </div>
                {% for item in rules %}
                {% if forloop.first %}
            <div class="col-6">
                {{item.rule_display_1}}
            </div>
            <div class="col-2 text-end">
                ${{item.list_price}}
            </div>
            <div class="col-2 text-end">
                ${{item.net_price}}
            </div>
        </div>
            {% else %}

        <div style="" class="row">
            <div class="col-1 text-end">
            </div>
            <div class="col-1 text-end">
                {% comment %} SKIP {% endcomment %}
            </div>
            <div class="col-6">
                {{item.rule_display_1}}
            </div>
            <div class="col-2 text-end">
                ${{item.list_price}}
            </div>
            <div class="col-2 text-end">
                ${{item.net_price}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}

        <!--TEMPLATE A RULES -->


        {% elif tearsheet.template == 'B' %}

        <!-- TEMPlATE B RULES -->
        <div class="row pt-2 pb-1">

            <div class="col-8">
            </div>
            <div class="col-2 text-end">
                LIST
            </div>
            <div class="col-2 text-end">
                NET
            </div>
        </div>

        {% for dictionary in price_records  %}
        {% for group,rules in dictionary.items %}
        <div style="" class="pt-3 row">
            <div class="col-1 text-start">
                {{group}}
            </div>
            <div class="col-1">
            </div>
                {% for item in rules %}
                {% if forloop.first %}
            <div class="col-3">
                {{item.rule_display_1}}
            </div>
            <div class="col-3">
                {{item.rule_display_2}}
            </div>
            <div class="col-2 text-end">
                ${{item.list_price}}
            </div>
            <div class="col-2 text-end">
                ${{item.net_price}}
            </div>
        </div>
            {% else %}

        <div style="padding-top: 3px;" class="row">
            <div class="col-1 text-end">
            </div>
            <div class="col-1 text-end">
            </div>
            <div class="col-3">
                {{item.rule_display_1}}
            </div>
            <div class="col-3">
                {{item.rule_display_2}}
            </div>
            <div class="col-2 text-end">
                ${{item.list_price}}
            </div>
            <div class="col-2 text-end">
                ${{item.net_price}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
        <!-- TEMPLATE B RULES-->

        {% elif tearsheet.template == 'C' %}

        <!--TEMPLATE C RULE DISPLAY ABOVE RULES-->
        {% for dictionary in price_records  %}
        {% for group,rules in dictionary.items %}
        <div class="row pt-2 pb-1">
            <div class="col-2 text-start">
            {{group}}
            </div>
            <div class="col-6">
            </div>
            <div class="col-2 text-end">
                LIST
            </div>
            <div class="col-2 text-end">
                NET
            </div>
        </div>

        {% for item in rules %}

        <div style="padding-top: 3px;" class="row">
            <div class="col-2">
                {{item.rule_display_1}}
            </div>
            <div class="col-6">
                {{item.rule_display_2}}
            </div>
            {% comment %} <div class="col-1">
            </div> {% endcomment %}
            <div class="col-2 text-end">
                ${{item.list_price}}
            </div>
            <div class="col-2 text-end">
                ${{item.net_price}}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        <!--END TEMPLATE C RULES-->


        {% endif %}


        <!-- FOOTER DETAILS -->
        {% if footer_details %}
        <div class="pt-2">
            {% regroup footer_details by name as footer_detail_list %}
            {% for footer_detail in footer_detail_list  %}
            <div style="padding-bottom: -20px;" class="row">
                <div class="col-2">
                    {{footer_detail.grouper}}
                </div>
                {% for item in footer_detail.list %}
                {% if forloop.first %}
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% else %}
            <div style="padding-bottom: -20px;" class="row">
                <div class="col-2">
                </div>
                <div class="col-10">
                    {{item.details}}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- FOOTER DETAILS -->

        <!-- FOOTER SPACING -->
        <div style="height: {{tearsheet.footer_space}}px">
        </div>
        <!-- FOOTER SPACING -->

        <!-- ADDRESS FOOTER-->
        <div style="padding-top: 3px;" class='text-center'>
            <p style="letter-spacing: .15em;" class="pt-5 pb-5">B D D W • 5 CROSBY STREET NEW YORK NY 10013 • T 212 625 1230 • INFO@BDDW.COM • WWW.BDDW.COM</p>
        </div>

    </div>

{% endblock content %}
