{% load static %}
<form>
<div id="caption-{{caption.pk}}" class="row">
    <div class="col-2">
        <input name='title' value="{{caption.caption_title}}">
    </div>
    <div class="col-8">
        <input style="width: 505px;" name='caption' value="{{caption.caption}}">
    </div>
    <div class="text-end col-2">
        <img
        hx-post='{% url 'formula_tearsheets:change_caption' caption.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#caption-{{caption.pk}}"
        height="12px" src="{% static 'images/okay.svg' %}">
        <img
        hx-put='{% url 'formula_tearsheets:change_caption' caption.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#caption-{{caption.pk}}"
        height="8px" src="{% static 'images/cancel.svg' %}">
        <img
        hx-delete='{% url 'formula_tearsheets:change_caption' caption.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#caption-{{caption.pk}}"
        height="12px" src="{% static 'images/delete.svg' %}">
    </div>
</div>
</form>
