{% load static %}
<form>
<div id="footer-detail-{{footer_detail.pk}}" class="row">
    <div class="col-2">
        <input name='name' value="{{footer_detail.name}}">
    </div>
    <div class="col-9">
        <input style="width: 515px;" value="{{detail.details}}" name="details">
    </div>
    <div class="text-end col-1">
        <img
        hx-post='{% url 'formula_tearsheets:change_footer_detail' footer_detail.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#footer-detail-{{footer_detail.pk}}"
        height="10px" src="{% static 'images/okay.svg' %}">
        <img
        hx-put='{% url 'formula_tearsheets:change_footer_detail' footer_detail.pk %}'
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="#footer-detail-{{footer_detail.pk}}"
        height="10px" src="{% static 'images/cancel.svg' %}">
    </div>
</div>
</form>
