{% load static %}
<form>
    <div id="price-record-{{price_record.pk}}" class="row">
        <div class="col-2 text-start">
            <input name="rule_type" value="{{price_record.rule_type}}">
        </div>

        <div class="col-7">
            <input name="rule_display_1" value="{{price_record.rule_display_1}}"> \
            <input name="rule_display_2" value="{{price_record.rule_display_2}}">
        </div>
        <div class="col-1">
            ${{price_record.list_price}} \
        </div>
        <div class="col-1">
            ${{price_record.net_price}}
        </div>
        <div class="text-end col-1">
            <img
            hx-post='{% url 'formula_tearsheets:change_price_record' price_record.pk %}'
            hx-trigger='click'
            hx-swap='outerHTML'
            hx-target="#price-record-{{price_record.pk}}"
            height="10px" src="{% static 'images/okay.svg' %}">
            <img
            hx-put='{% url 'formula_tearsheets:change_price_record' price_record.pk %}'
            hx-trigger='click'
            hx-swap='outerHTML'
            hx-target="#price-record-{{price_record.pk}}"
            height="10px" src="{% static 'images/cancel.svg' %}">

        </div>
    </div>
</form>
